<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="{{ 'imagens/logo3.png' | url_for_static }}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <style> 
    @media (max-width: 991px) {
        .colunaImgFAQ{
            visibility: hidden;
        }
        .colunaPerguntas{
            margin-left: -60%;
            width: 80%;
        }
    }

    @media (max-width: 768px) {
        .colunaImgFAQ{
            visibility: hidden;
        }
        .colunaPerguntas{
            margin-top: -150%;
            margin-left: 0%;
        }
    }

    @media (max-width: 420px) {
        .colunaImgFAQ{
            visibility: hidden;
        }
        .colunaPerguntas{
            margin-top: -150%;
        }
    }
    </style>
</head>
<body>
  <!--Começo NavBar-->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #669bbc;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="{{ 'imagens/logo3.png' | url_for_static }}" height="40px" width="40px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/"><span lang="en-us">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contato">Contato</a>
          </li>
          {% if  session['cpf'] %}
          <li class="nav-item">
              <a class="nav-link" href="/perfil">Perfil</a>
          </li>
          </ul>
            <form class="d-flex ml-auto" style="margin-left: auto;" role="search" method="post" action="/sair">
                <button type="submit" class="btn btn-light">Sair</button>
            </form>
          {% else %}
          <li class="nav-item">
              <a class="nav-link disabled" href="/perfil">Perfil</a>
          </li>
        </ul>
              <form class="d-flex ml-auto" role="search">
                  <a class="btn btn-light" role="button" href="/tela">Log In</a>
              </form>
          {% endif %}
      </div>
    </div>
  </nav>
  <!--Final NavBar-->

  <!--Container corpo-->
  <div class="container-fluid">
    <div class="row d-flex flex-fill justify-content-evenly" style="height: 100%;">
        <div class="col-md-6 colunaImgFAQ">
            <img src="{{ 'imagens/faq.png' | url_for_static }}" height="400px" width="400px" alt="Símbolo do FAQ">
        </div>
        <div class="col-md-6 mgB-3 colunaPerguntas">
            <h1 class="display-4 pt-5 text-center">Perguntas Frequentes</h1>
            <!--Começo acordeão-->
            <div class="accordion pt-5" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                          <b>É preciso ser PCD para utilizar o aplicativo?</b>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>Não</strong>, o aplicativo é para todos, sendo possível não especificar nenhum tipo de deficiência ou CID.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                          <b>O aplicativo é acessível para leitor de tela?</b>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>Sim</strong>, é possível utilizar o aplicativo com leitor de tela, assim como alterar o tamanho da fonte e trocar para modo escuro.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          <b>O aplicativo possui informações sobre o Brasil inteiro?</b>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>Não</strong>, até 2023 ele só disponibiliza informações sobre a cidade de Limeira - São Paulo.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          <b>Ele está disponível para Android e iOS?</b>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>Sim</strong>, o aplicativo é adaptado para ambas as versões. 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                          <b>Há informações sobre ônibus de viagem?</b>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>Não</strong>, por enquanto o AccessCity somente fornece informações sobre ônibus circulares da Sou Limeira.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                          <b>O aplicativo é feito em qual linguagem de programação?</b>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            O aplicativo é escrito em Dart, utilizando o framework Flutter.
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--Final acordeão-->
        </div>
    </div>
  </div>
  <!--Fim container corpo-->

</body>

<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</html>